
#content-start {
    max-width: 1000px; 
    margin: auto; 
    padding: 40px;
    text-align: left;
    background: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    line-height: 1.6; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333; 
    border-radius: 4px; 
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.logo{
    width: 110px;
    height: 110px;
    margin-left: 10px;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}
.correct-answer{
    color: green;
}
.header{
    text-align: center;
}
.correct-answer {
    color: rgb(5, 148, 5);
}
.container {
border: 3px solid #545454; 
box-shadow: 6px 6px 10px rgba(33, 33, 33, 0.5); 
padding: 20px;
margin: 20px; 
}
@media screen and (min-width: 1200px) {
    #content-start {
        max-width: 1000px; 
    }
}
